<div class="container  bg-warning border border-dark p-5" id="quizmain">
    <h1 class="text-center">Soruların Doğru cevapları</h1>
<h3 class="text-center">Soru 1:</h3>
<p id="qtext">Fatih Sultan Mehmet’in babası kimdir?</p>
  
 
  <div style="position:relative;width:100%;">
    <div id="container" class="notranslate">
          <label class="container  p-2 m-1 border border-dark bg-success" id="label3"> I.Mehmet</label>
          <label class="container  p-2 m-1 border border-dark bg-info" id="label4"> Yıldırım Beyazıt<span></span></label> 
          <label class="container  p-2 m-1 border border-dark bg-info" id="label1"> II. Murat</label>
          
    </div>
  </div>
  <h3 class="text-center">Soru 2:</h3>
  <p id="qtext">Hangisi periyodik tabloda bulunan bir element değildir?</p>
    
    <div style="position:relative;width:100%;">
      <div id="container" class="notranslate">
            <label class="container bg-info p-2 m-1 border border-dark" id="label3"> Azot </label>
            <label class="container bg-success p-2 m-1 border border-dark" id="label4"> Su</label>
            <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Oksijen</label>
            
      </div>
    </div>
    <h3 class="text-center">Soru 3:</h3>
    <p id="qtext">Hangisi bir doğal sayıdır?</p>
      
     
      <div style="position:relative;width:100%;">
        <div id="container" class="notranslate">
              <label class="container bg-info p-2 m-1 border border-dark" id="label3"> 2,5 </label>
              <label class="container bg-info p-2 m-1 border border-dark" id="label4"> 0</label>
              <label class="container bg-success p-2 m-1 border border-dark" id="label1"> -1</label>
              
        </div>
      </div>
      <h3 class="text-center">Soru 4:</h3>
      <p id="qtext"> Hangisi tarihteki Türk devletlerinden biri değildir?</p>  
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-info p-2 m-1 border border-dark" id="label3"> Hun İmparatorluğu </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Avar Kağanlığı  </label>
                <label class="container bg-success p-2 m-1 border border-dark" id="label1"> Emevi Devleti  </label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 5:</h3>
      <p id="qtext">Galatasaray hangi yıl UEFA kupasını almıştır?</p>   
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-success p-2 m-1 border border-dark" id="label3"> 2000 </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> 2001</label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label1"> 2002</label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 6:</h3>
      <p id="qtext">Kıbrıs Barış harekatı hangi tarihte gerçekleşmiştir?</p>
        
       
        
        
      
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-info p-2 m-1 border border-dark" id="label3"> 1969 </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> 1971</label>
                <label class="container bg-success p-2 m-1 border border-dark" id="label1"> 1974</label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 7:</h3>
        <p id="qtext"> Tarihçilerin Kutbu olarak bilinen dünyaca ünlü tarihçimiz kimdir?</p>
          
         
          
          
        
          <div style="position:relative;width:100%;">
            <div id="container" class="notranslate">
                  <label class="container bg-info p-2 m-1 border border-dark" id="label3"> İlber Ortaylı </label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Mehmet Fuat Köprülü</label>
                  <label class="container bg-success p-2 m-1 border border-dark" id="label1"> Halil İnancık</label>
                  
            </div>
          </div>
          <h3 class="text-center">Soru 8:</h3>
      <p id="qtext">Hangi hayvan memeli değildir?</p>
        
       
        
        
      
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-info p-2 m-1 border border-dark" id="label3"> Yarasa </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Yunus</label>
                <label class="container bg-success p-2 m-1 border border-dark" id="label1"> Penguen</label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 9:</h3>
        <p id="qtext">Türk ordusunun ve Türk Kara Kuvvetlerinin kuruluşu hangi yıl kabul edilir?</p>
          
         
          
          
        
          <div style="position:relative;width:100%;">
            <div id="container" class="notranslate">
                  <label class="container bg-success p-2 m-1 border border-dark" id="label3"> M.Ö. 209 </label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label4"> 1071</label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label1"> 1919</label>
                  
            </div>
          </div>
          <h3 class="text-center">Soru 10:</h3>
          <p id="qtext">Türk Silahlı Kuvvetlerinde hangi rütbe daha yüksektir?</p>
            
           
            <div style="position:relative;width:100%;">
              <div id="container" class="translate">
                    <label class="container bg-success p-2 m-1 border border-dark" id="label3"> Korgeneral</label>
                    <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Tuğgeneral</label>
                    <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Tümgeneral</label>
                     </div> 
            </div>
        </div>
           <br><br><br><br><br><br><br> <br>
              <div class=" bg-dark text-white p-5 opacity-100">
                <div id="answerbuttoncontainer">
                    <button class="answerbutton w3-btn ws-green" type="submit" onclick="clickNextButton(1)" >  
                      
                      <a class="text-dark mb-3" routerLink="">ANASAYFA ❯</a>
                    </button>
                    
                  </div>
            </div>