<div class="position-relative m-5">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="0"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
  <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
  
 
</div>



<div class="container  bg-warning border border-dark p-5" id="quizmain">
    <div id="quizcontainer">
    
      
  
      <h3 class="text-center">Soru 1:</h3>
      <p id="qtext">Fatih Sultan Mehmet’in babası kimdir?</p>
        <form role="form" id="quizform" name="quizform" action="quiztest.asp?qtest=CPP" method="post">
       
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container  p-2 m-1 border border-dark bg-info" id="label3"> I.Mehmet <input type="radio" name="quiz" id="3" onclick="clickRadio(this)" value="3"><span class="checkmark "></span></label>
                <label class="container  p-2 m-1 border border-dark bg-info" id="label4"> Yıldırım Beyazıt<input type="radio" name="quiz" id="4" onclick="clickRadio(this)" value="4"><span class="checkmark"></span></label> 
                <label class="container  p-2 m-1 border border-dark bg-info" id="label1"> II. Murat<input type="radio" name="quiz" id="1" onclick="clickRadio(this)" value="1"><span class="checkmark"></span></label>
                
          </div>
        </div>
        <div id="answerbuttoncontainer">
          <button class="answerbutton w3-btn ws-green" type="submit" onclick="clickNextButton(1)" >  
            
            <a class="text-dark mb-3" routerLink="/soru2">Next ❯</a>
          </button>
          
        </div>
      </form>
      
       
      
    </div>
  </div>
  <div class="fixed-bottom bg-dark text-white p-5 opacity-100">
    <div class="container text-center"></div>
  </div>