<div class="container  bg-warning border border-dark p-5" id="quizmain">
    <div id="quizcontainer">
    
      
  
      <h3 class="text-center">Soru 1:</h3>
      <p id="qtext">"Kuantum mekaniğinin bazı sonuçlarına, özellikle belirsizlik ilkesine oldukça şüpheci yaklaşmış fakat bu yaklaşımlar ileride geniş kabul görmüştür." Bahsedilen bilim adamı kimdir?</p>
       
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-success p-2 m-1 border border-dark" id="label3"> Albert Einstein</label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Maxwell</label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Stephen Hawking</label>
                
          </div>
        </div>
       
        </div>
        <h3 class="text-center">Soru 2:</h3>
        <p id="qtext">"Bu dahi bilim adamımız, Leonardo da Vinci'den tam 300 sene evvel dişli çarklar ve esaslarına dair kaideleri kitabında anlattı. Hatta Leonardo da Vinci bu kaidelerin birçoğunu bilmemektedir." Bu bilim adamımız kimdir?</p>
          
          <div style="position:relative;width:100%;">
            <div id="container" class="notranslate">
                  <label class="container bg-success p-2 m-1 border border-dark" id="label3"> El-Cezeri </label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Ali KUşcu</label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Uluğ Bey</label>
                  
            </div>
          </div>
          <h3 class="text-center">Soru 3:</h3>
      <p id="qtext">İlk elektrikli süpürge kim tarafından icat edilmiştir?</p>
       
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-success p-2 m-1 border border-dark" id="label3"> Hubert Booth </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Robert Bosch</label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Gerbert</label>
                
          </div>
        </div>
      
        <h3 class="text-center">Soru 4:</h3>
        <p id="qtext">"Küçük yaşlardan beri bilimle uğraşan bu bilim adamı 16 yaşında "Konikler Üzerine Deneme" adlı kitabı yazmıştır. 18 yaşında bir hesap makinesi icat etti. Atmosfer basıncı, sıvıların dengesi, hidrolik pres, aritmetik üçgen konularında birçok çalışması vardır." Bahsedilen bilim adamı kimdir?</p>
         
          <div style="position:relative;width:100%;">
            <div id="container" class="notranslate">
                  <label class="container bg-info p-2 m-1 border border-dark" id="label3"> Bernoulli </label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Newton</label>
                  <label class="container bg-success p-2 m-1 border border-dark" id="label1"> Pascal</label>
                  
            </div>
          </div>
          <h3 class="text-center">Soru 5:</h3>
      <p id="qtext">Dünyada ilk defa alternatif akım patenti alan şirketin kurucusu, mucid ve bilim adamı kimdir?</p>
       
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
                <label class="container bg-info p-2 m-1 border border-dark" id="label3">Werner von Siemens </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Nikola Tesla</label>
                <label class="container bg-success p-2 m-1 border border-dark" id="label1"> George Westinghouse</label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 6:</h3>
      <p id="qtext">Kuantum sabiti hangi bilim adamının ismiyle alınır?</p>
        
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
          
                <label class="container bg-success p-2 m-1 border border-dark" id="label3"> Max Planck </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label4"> Alberts Einstein                  </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Schrödinger</label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 7:</h3>
      <p id="qtext">Magnetik akı yoğunluğunun birimi hangi bilim adamının ismiyle anılmaktadır?</p>
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
            


                <label class="container bg-info p-2 m-1 border border-dark" id="label3"> Micheal Faraday </label>
                <label class="container bg-success p-2 m-1 border border-dark" id="label4"> Nikola Tesla                  </label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Andre Amper                  </label>
                
          </div>
        </div>
        
      <h3 class="text-center">Soru 8:</h3>
      <p id="qtext">  Doğru akımın temsilcisi olarak bilinen ünlü bilim adamı kimdir?</p>
      
        <div style="position:relative;width:100%;">
          <div id="container" class="notranslate">
            
           
            
            
            
                <label class="container bg-info p-2 m-1 border border-dark" id="label3">  Nikola Tesla </label>
                <label class="container bg-success p-2 m-1 border border-dark" id="label4"> Thomas Edison</label>
                <label class="container bg-info p-2 m-1 border border-dark" id="label1">  Andre Amper                  </label>
                
          </div>
        </div>
        <h3 class="text-center">Soru 9:</h3>
        <p id="qtext">"Newton mekaniğinin yasalarını değiştiren ve kütle ile enerjinin eşdeğerli olduğunu öne süren sınırlı bağlılık (1905); eğrisel ve sonlu olarak düşünülen dört boyutlu bir evrene ait çekim teorisini veren genel bağlılık (1916); elektro-manyetizma ve yer çekimini aynı alanda birleştiren daha geniş kapsamlı teori denemeleri." Bu teori denemeleri hangi bilim adamına aittir?
        
         
         </p>
         
          <div style="position:relative;width:100%;">
            <div id="container" class="notranslate">
                  <label class="container bg-success p-2 m-1 border border-dark" id="label3">   Albert Einstein </label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label4">         Niels Bohr                  </label>
                  <label class="container bg-info p-2 m-1 border border-dark" id="label1">  Emmy Noether</label>
                  
            </div>
          </div>
          <h3 class="text-center">Soru 10:</h3>
          <p id="qtext">Piramitler şu an hangi ülkenin sınırları içerisinde yer almaktadır?
         </p>
            
            <div style="position:relative;width:100%;">
              <div id="container" class="notranslate">
                    <label class="container bg-info p-2 m-1 border border-dark" id="label3"> Tunus </label>
                    <label class="container bg-success p-2 m-1 border border-dark" id="label4"> Mısır</label>
                    <label class="container bg-info p-2 m-1 border border-dark" id="label1"> Fas</label>
                    
              </div>
            </div>
            <div id="answerbuttoncontainer">
                <button class="answerbutton w3-btn ws-green" type="submit" onclick="clickNextButton(1)" >  
                  
                  <a class="text-dark mb-3" routerLink="">ANASAYFA ❯</a>
                </button>
                
              </div>
    </div>
 
